<%sentimageTitle = sentimageTitle.replace(/"/g, '');%>
<%sentimageAlt = sentimageAlt.replace(/"/g, '');%>
<a href="<%=sentimageUrlAlias%>"><img class="thumbnail img-responsive" src="<%=sentimageUri%>" title="<%=sentimageTitle%>" alt="<%=sentimageAlt%>" /></a>
<!-- AddThis Button BEGIN --> 
	<div class="addthis_toolbox addthis_default_style addthis_32x32_style">			
		<a class="addthis_button_preferred_1" addthis:url="http://<%=location.host%>/sentimage/<%=sentimageNid%>" addthis:title="<%=sentimageTitle%>"></a>
		<a class="addthis_button_preferred_2" addthis:url="http://<%=location.host%>/sentimage/<%=sentimageNid%>" addthis:title="<%=sentimageTitle%>"></a>
		<a class="addthis_button_preferred_3" addthis:url="http://<%=location.host%>/sentimage/<%=sentimageNid%>" addthis:title="<%=sentimageTitle%>"></a>
		<a class="addthis_button_preferred_4" addthis:url="http://<%=location.host%>/sentimage/<%=sentimageNid%>" addthis:title="<%=sentimageTitle%>"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<hr />
	<!--<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script> -->
	<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#async=1"></script> -->
	<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52a722b916a2aafa"></script> -->
<!--AddThis Button END -->

 <!-- <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script> <div class="yashare-auto-init" data-yashareQuickServices="yaru,vkontakte,facebook,twitter, odnoklassniki,moimir,lj,friendfeed,moikrug,gplus" data-yashareTheme="counter" data-yashareType="big"></div> -->
 
<!--<%/*(function() {-->
<!--  if (window.pluso)if (typeof window.pluso.start == "function") return;-->
<!--  if (window.ifpluso==undefined) { window.ifpluso = 1;-->
<!--    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';-->
<!--    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;-->
<!--    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';-->
<!--    var h=d[g]('body')[0];-->
<!--    h.appendChild(s);-->
<!--  }})();*/%>-->
<!-- <div class="pluso" data-background="transparent" data-options="big,square,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div> -->